<header class="site-header">

  <div class="wrapper">

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

<!--     <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        <a class="page-link" href="/">{{ "News" }}</a>
        {% for page in site.pages %}
          {% if page.title %}
            <p><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></p>
          {% endif %}
        {% endfor %}
        <navh><strong>AARUG</strong></navh>
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="http://www.meetup.com/Ann-Arbor-R-User-Group/">Meetup</a>
      <a class="sidebar-nav-item" href="https://github.com/AnnArborRUserGroup">GitHub</a>

      <navh><strong>R Links</strong></navh>
      <a class="sidebar-nav-item" href="https://www.r-project.org">R Project</a>
      <a class="sidebar-nav-item" href="https://cran.r-project.org">CRAN</a>
      <a class="sidebar-nav-item" href="https://www.rstudio.com">RStudio</a>
      <a class="sidebar-nav-item" href="http://www.revolutionanalytics.com">Revolution Analytics</a> -->

<!--       <navh><strong>Our Friends</strong></navh>
      <a class="sidebar-nav-item" href="http://www.meetup.com/Ann-Arbor-Detroit-NLPers-A2D-NLP/">Ann Arbor/Detroit NLPers</a>
      <a class="sidebar-nav-item" href="http://www.meetup.com/Machine-Learning-Data-Science-and-Industry/">Machine Learning: Data Science and Industry</a>
      <a class="sidebar-nav-item" href="http://www.meetup.com/Predictive-Analytics-S-E-Michigan/">Predictive Analystics - S.E. Michigan</a>
      <a class="sidebar-nav-item" href="http://www.meetup.com/Lansing-Area-R-Users-Group/">Lansing Area R Users Group</a> -->
<!--       </div>
    </nav> -->

  </div>

</header>
